.footer {
  .footer-icon {
    color: white; 
   transition: transform 0.3s ease, color 0.3s ease;
    

    &:hover {
      color: #eec85f;
      transform: scale(1.3);
    }
  }
  .footer-link{
    text-decoration: none;
    &:hover{
      color: #eec85f;
    }
  }
}
