.slider {
  .swiper-button-prev,
  .swiper-button-next {
    color:transparent;
    &:hover {
      color: white;
      opacity: 0.7;
    }
    width: 44px;
    height: 100%;
    top: 35%;
    transform: translateY(-50%);
    z-index: 10;
  }
}
